<!DOCTYPE html>
<html>
<head>
  <title>TrailblazerEngineExample</title>
  <%= stylesheet_link_tag    "trailblazer_engine_example/application", media: "all" %>
  <%= javascript_include_tag "trailblazer_engine_example/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
